.header {
    width: 100%;
    height: 60px;
    padding: 12px;
    display: flex;

    /* background-color: rgba(255, 255, 255, 0.069); */
    /* backdrop-filter: blur(10px); */

}

.headerInner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleTextResp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* animation: title 5s ease forwards; */

    transition: top 3s ease-in-out, right 3s ease-in-out, transform 3s ease-in-out;
}

.titleTextResp h1 {
    font-size: 18px;
}

.titleTextResp h2 {
    font-size: 10px;
}


@media(min-width: 1025px) {
    .header {
        display: none;
    }
}